/1-hello-srpm/1
/1-hello-srpm/2
/1-hello-srpm/hello-2.10.tar.gz
/hello.src.rpm
/2-hello-rpm-manual/0
/2-hello-rpm-manual/1
/2-hello-rpm-manual/2
/3-hello-rpm-advanced/out
/4-pello/pello-0.1.1.tar.gz
/4-pello/1/
/4-pello/2/
/pello.src.rpm
/reference-files
/reference-files.tar
